body {
    height: 100vh;
    font-family: sans-serif;
}

.div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    flex-direction: column;
    box-shadow: 2px 4px 16px black;
    padding: 4px;
    margin-bottom: 8px;
}

button{
    border-radius: 5px;
    cursor: pointer;
    flex-grow: 1;
}

.buttons {
    flex-direction: column;
    border: solid lightgray;
}

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 8px;
}